<div class="section agenda" style="border: 0">

  <div class="header-button">
    <h1>Agenda </h1>
    <!--<button class="button">Add to your calendar</button>-->
  </div>

  <h2>Wednesday, January 30th</h2>

  <p>Provisional agenda subject to change</p>

  <h3>Morning</h3>

   <div class="row">

     <div class="coffee">
       <span>7:30 AM</span>
       <div><span>Registration &amp; Breakfast</span></div>
     </div>

     <div class="talk">
       <span>9:00 AM</span>
       <strong>Welcome &amp; Introduction</strong>
       <span>Conference Organizers</span>
     </div>

     <div class="keynote talk">
       <span>9:15 AM</span>
       <strong>Opening Keynote: TBD</strong>
       <span>TBD</span>
     </div>

     <div class="talk">
       <span>10:00 AM</span>
       <strong>Talk: TBD</strong>
       <span>TBD</span>
     </div>

     <div class="talk">
       <span>10:30 AM</span>
       <strong>Talk: TBD</strong>
       <span>TBD</span>
     </div>

     <div class="coffee">
       <div><span>Break</span></div>
     </div>

     <div class="talk">
       <span>11:30 AM</span>
       <strong>(Extended) Lightning Talks</strong>
       <span>TBD</span>
     </div>

   </div>


     <h3>Afternoon</h3>

     <div class="row">

     <div class="coffee lunch">
       <span>13:00 PM</span>
       <div><span>Lunch</span></div>
     </div>

     <div class="talk">
       <span>14:00 PM</span>
       <strong>Talk: TBD</strong>
       <span>TBD</span>
     </div>

     <div class="talk">
       <span>14:30 PM</span>
       <strong>Talk: TBD</strong>
       <span>TBD</span>
     </div>

     <div class="talk">
       <span>15:00 PM</span>
       <strong>Talk: TBD</strong>
       <span>TBD</span>
     </div>

     <div class="coffee">
       <div><span>Break</span></div>
     </div>

     <div class="talk">
       <span>16:00 PM</span>
       <strong>(Extended) Lightning Talks</strong>
       <span>TBD</span>
     </div>

     <div class="keynote talk">
       <span>17:00 PM</span>
       <strong>Closing Keynote: TBD</strong>
       <span>TBD</span>
     </div>

   </div>

</div>
