<div class="section agenda" style="border: 0">

  <div class="header-button">
    <h1>Agenda </h1>
    <!--<button class="button">Add to your calendar</button>-->
  </div>

  <h2>Wednesday, January 30th</h2>

  <h3>Morning Session</h3>

   <div class="row">

     <div class="coffee">
       <span>7:30</span>
       <div><span>Registration &amp; Breakfast</span></div>
     </div>

     <div class="talk">
       <span>9:00</span>
       <strong>Welcome &amp; Introduction</strong>
       <span>Conference Organizers</span>
     </div>

     <div class="keynote" onclick="location='/talk-yan-cui.html';">
       <span>9:15 AM</span>
       <strong>Opening Keynote: Serverless - more FinDev than DevOps</strong>
       <span>Yan Cui</span>
     </div>

     <div class="talk" onclick="location='/talk-hendric-ruesch.html';">
       <span>09:45</span>
       <strong>Serverless Cheat Sheet for Business Discussions</strong>
       <span>Hendric Ruesch</span>
     </div>

     <div class="talk">
       <span>09:55</span>
       <strong>Extended Lightning Talk</strong>
       <span>TBC</span>
     </div>

     <div class="talk" onclick="location='/talk-gillian-armstrong.html';">
       <span>10:15</span>
       <strong>Serverless and Chatbots: A Match Made in the Cloud</strong>
       <span>Gillian Armstrong</span>
     </div>

     <div class="coffee">
       <span>10:45 - 11:15</span>
       <div><span>Break</span></div>
     </div>

     <div class="talk">
       <span>11:15</span>
       <strong>Talk</strong>
       <span>TBC</span>
     </div>

     <div class="talk" onclick="location='/talk-simon-williams.html';">
       <span>11:40</span>
       <strong>Accelerating Business Delivery With Serverless</strong>
       <span>Simon Williams</span>
     </div>

     <div class="talk" onclick="location='/talk-simona-cotin.html';">
       <span>11:55</span>
       <strong>Build Scalable APIs using GraphQL and Serverless</strong>
       <span>Simona Cotin</span>
     </div>

     <div class="talk" onclick="location='/talk-ncsc.html';">
       <span>12:25</span>
       <strong>Good Security Made Easier with Serverless</strong>
       <span>National Cyber Security Centre</span>
     </div>

     <div class="coffee lunch">
       <span>12:45 - 13:45</span>
       <div><span>Lunch</span></div>
     </div>

   </div>

     <h3>Afternoon Session</h3>

     <div class="row">

     <div class="talk" onclick="location='/talk-ian-massingham.html';">
       <span>13:45</span>
       <strong>Serverless Analytics on AWS (for absolute beginners)</strong>
       <span>Ian Massingham</span>
     </div>

     <div class="talk" onclick="location='/talk-liam-betsworth.html';">
       <span>14:15</span>
       <strong>Server or Serverless: The AMPLYFI Story</strong>
       <span>Liam Betsworth</span>
     </div>

     <div class="talk" onclick="location='/talk-bret-mcgowen.html';">
       <span>14:25</span>
       <strong>Serverless beyond functions: Google's mobile, big data, and machine learning serverless tools</strong>
       <span>Bret McGowen</span>
     </div>

     <div class="talk" onclick="location='/talk-olga-skobeleva.html';">
       <span>14:55</span>
       <strong>Security: the Serverless Future</strong>
       <span>Olga Skobeleva</span>
     </div>

     <div class="coffee">
       <span>15:20 - 15:50</span>
       <div><span>Break</span></div>
     </div>

     <div class="talk" onclick="location='/talk-slobodan-stojanovic.html';">
       <span>15:50</span>
       <strong>Testing serverless applications</strong>
       <span>Slobodan Stojanović</span>
     </div>

     <div class="talk" onclick="location='/talk-matthew-fortunka.html';">
       <span>16:20</span>
       <strong>Azure Logic Apps - Serverless + Codeless</strong>
       <span>Matthew Fortunka</span>
     </div>


     <div class="talk" onclick="location='/talk-tom-wallace.html';">
       <span>16:40</span>
       <strong>Meta-programming in lambda- for bad and for worse</strong>
       <span>Tom Wallace</span>
     </div>

     <div class="talk">
       <span>17:05</span>
       <strong>Final Talk</strong>
       <span>TBC</span>
     </div>

     <div class="talk">
       <span>17:35</span>
       <strong>Closing Remarks</strong>
       <span>Conference Organizers</span>
     </div>

     <div class="coffee lunch">
       <span>17:45 - 21:00</span>
       <div><span>Happy hour &amp; Networking</span></div>
     </div>

   </div>

</div>
