<div class="section">
  <div class="left">
    <div class="title">
      <h1>Call for Papers</h1>
    </div>
    <div class="image">
      <img class="pa4" width="130" src="./Mascotte/Dino_mascot.svg">
    </div>
  </div>

  <div class="text">
    <p>
      We are keen to hear from anyone interested in sharing <span class="line-break no-mobile"></span>
      their story in a 5-10 minute Lightning Talk, <span class="line-break no-mobile"></span>
      15-20 minute Extended Lightning Talk or <span class="line-break no-mobile"></span>
      30 minute sessions.
    </p>
    <p>
      Do you have a Serverless story that you want to share <span class="line-break no-mobile"></span>
      with the community or Serverless project that you want <span class="line-break no-mobile"></span>
      to demo in front of a live conference audience? <span class="line-break no-mobile"></span>
      Please submit your <a href="https://www.papercall.io/serverlesscwl" target="_blank">talk using our Call for Papers Site.</a>
    </p>

  </div>
</div>
