<div class="heroDate">
  <h1>Dates</h1>
  <ul>
    <li class="done">
      <div class="checkmark">✔️</div>
      <div class="text">
        Oct 15th, 2018<br />
        <strong>CFP Opens</strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        Oct 29th, 2018<br />
        <strong>Tickets go on Sale</strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        Nov 30th, 2018<br />
        <strong>CFP Closes</strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        Dec 10th, 2018<br />
        <strong>Speaker Announcement</strong>
      </div>
    </li>
    <li>
      <div class="checkmark">✔️</div>
      <div class="text">
        Jan 30th, 2019<br />
        <strong>ServerlessDays Cardiff<br/>@ Tramshed</strong>
      </div>
    </li>
  </ul>
</div>
