<footer class="section footer">

  <div class="row">
        <div>
            <a class=" no-underline " href="mailto:cardiff@serverlessdays.io " title="Email us at cardiff@serverlessdays.io ">
                cardiff@serverlessdays.io
            </a>
        </div>
        <div>
            <a href="https://twitter.com/ServerlessCWL " title="ServerlessDays Milano on Twitter " class="no-underline verticalCenter "
                target="_blank ">
                @ServerlessCWL
            </a>
        </div>
    </div>
    <div class="row mascotte">
        <div><img width="100" height="141" src="./Mascotte/Moth_mascot.svg"></div>
        <div><img width="100" height="141" src="./Mascotte/Dino_mascot.svg"></div>
        <div><img width="100" height="141" src="./Mascotte/unicorn_mascot.svg"></div>
        <div><img width="100" height="141" src="./Mascotte/owl_mascot.svg"></div>
        <div><img width="100" height="141" src="./Mascotte/Anteater_mascot.svg"></div>
        <div><img width="100" height="141" src="./Mascotte/octo_mascot.svg"></div>
    </div>
</footer>

<!---->

<!--<div class="w-100 center pv1 ">
        <p class="f6 black-80 tc i " style="font-family: 'Comic Sans MS', cursive, sans-serif ">Jeff woz here</p>
    </div>-->
