<div class="section">

  <div class="left">
    <div class="title">
      <h1>Menu</h1>
    </div>
    <div class="image">
      <img class="pa4" width="130" src="./Mascotte/Anteater_mascot.svg">
    </div>
  </div>

  <div class="text">
    <p>To keep everyone fuelled we’re delighted to announce that the World Champion <span class="line-break no-mobile"></span>
       BBQ team <a href="https://twitter.com/bunchofswines" target="_blank">“Bunch of Swines”</a> will be feeding everyone with a selection of smokey <span class="line-break no-mobile"></span>
       treats throughout the day.<span class="line-break no-mobile"></span> </p>
    <p>We have also tried to take into account dietary requirements by providing <span class="line-break no-mobile"></span>
      alternative choices that are suitable for both vegans and vegetarians</p>

    <p>V = Suitable for Vegans & Vegetarians</p>

    <p>Registration:</p>
      Pastries<br>
      Selection of Fresh Fruit (V)

    <p>Mid-Morning Break:</p>
      Homemade Dry Cured Bacon Rolls<br>
      Vegetable Rolls (V)

    <p>Lunch:</p>
      Self Service Taco Bar<br>
      Corn Tortillas (V)<br>
      BBQ Beef Brisket & BBQ Pulled Pork - Slow Smoked for 15hrs<br>
      Pulled Jack Fruit (V)<br>
      Optional toppings<br>
      <ul>
        <li>Salsa (V)</li>
        <li>Lettuce (V)</li>
        <li>Cheese</li>
        <li>Sour Cream</li>
      </ul>
      Corn Tortilla chips (V)<br><br>

      Assorted Cakes<br>
      Dairy and Gluten Free Cheese Cake (V)

    <p>Afternoon Snack:</p>
      Assorted Cookies<br>
      Selection of Fresh Fruit (V)

  </div>
</div>
