<title>ServerlessDays Cardiff - 30th January 2019</title>
<link rel="canonical" href="https://cardiff.serverlessdays.io" />
<meta property="og:title" content="ServerlessDays Cardiff - 30th January 2019" />
<meta property="og:type" content="website" />
<meta property="og:description" content="A community based conference focusing on Jeff (Serverless) based platforms and technologies. Cardiff, 30 January 2019"
/>
<meta property="og:url" content="https://cardiff.serverlessdays.io" />
<meta property="og:image" content="https://res.cloudinary.com/serverlessdays/image/upload/c_scale,w_1200/c_crop,g_north,w_1200,h_600/v1524234863/milano-piazza-duomo.jpg"
/>
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@ServerlessCWL" />
<meta name="twitter:title" content="ServerlessDays Cardiff 2019" />
<meta name="twitter:description" content="A community based conference focusing on Jeff (Serverless) based platforms and technologies. Cardiff, 19 October 2018"
/>
<meta name="twitter:creator" content="@ServerlessCWL" />
<meta name="twitter:image" content="https://res.cloudinary.com/serverlessdays/image/upload/c_scale,w_1200/c_crop,g_north,w_1200,h_600/v1524234863/milano-piazza-duomo.jpg"
/>
<meta name="twitter:image:src" content="https://res.cloudinary.com/serverlessdays/image/upload/c_scale,w_1200/c_crop,g_north,w_1200,h_600/v1524234863/milano-piazza-duomo.jpg"
/>
<meta name="twitter:domain" content="cardiff.serverlessdays.io" />
<meta name="description" content="A community based conference focusing on Jeff (Serverless) based platforms and technologies. Cardiff, 19 October 2018"
/>