<div class="section speakers">
  <h1>Speakers</h1>

  <div class="list">

    <div>
      <div class="bio">
        <img src="speakers/yan-cui.jpg">
        <h3>Yan Cui</h3>
        <a href="https://twitter.com/theburningmonk" target="_blank">@theburningmonk</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <img src="speakers/hendric-ruesch.jpg">
        <h3>Hendric Ruesch</h3>
        <a href="https://twitter.com/hendricruesch" target="_blank">@HendricRuesch</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <img src="speakers/gillian-armstrong.jpg">
        <h3>Gillian Armstrong</h3>
        <a href="https://twitter.com/virtualgill" target="_blank">@virtualgill</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <img src="speakers/simon-williams.jpg">
        <h3>Simon Williams</h3>
        <a href="https://twitter.com/Capgemini" target="_blank">@Capgemini</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <img src="speakers/simona-cotin.jpg">
        <h3>Simona Cotin</h3>
        <a href="https://twitter.com/simona_cotin" target="_blank">@simona_cotin</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <img src="speakers/ncsc.jpg">
        <h3>NCSC</h3>
        <a href="https://twitter.com/NCSC" target="_blank">@NCSC</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <img src="speakers/ian-massingham.jpg">
        <h3>Ian Massingham</h3>
        <a href="https://twitter.com/IanMmmm" target="_blank">@IanMmmm</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <img src="speakers/liam-betsworth.jpg">
        <h3></h3>
        <a href="https://twitter.com/liam_bets" target="_blank">@liam_bets</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <img src="speakers/olga-skobeleva.jpg">
        <h3></h3>
        <a href="https://twitter.com/Cloudflare" target="_blank">@Cloudflare</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <img src="speakers/slobodan-stojanovic.jpg">
        <h3></h3>
        <a href="https://twitter.com/slobodan_" target="_blank">@slobodan_</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <img src="speakers/matthew-fortunka.jpg">
        <h3></h3>
        <a href="https://twitter.com/memleek" target="_blank">@memleek</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <img src="speakers/tom-wallace.jpg">
        <h3></h3>
        <a href="https://twitter.com/tomincode" target="_blank">@tomincode</a>
      </div>
    </div>

  </div>

</div>
