<div class="section speakers">
  <h1>Speakers</h1>

  <div class="list">

    <div>
      <div class="bio">
        <img src="speakers/yan-cui.jpg">
        <h3>Yan Cui</h3>
        <a href="https://twitter.com/theburningmonk" target="_blank">@theburningmonk</a>
      </div>
    </div>

    <div>
      <div class="bio">
        <img src="speakers/simona-cotin.jpg">
        <h3>Simona Cotin</h3>
        <a href="https://twitter.com/simona_cotin" target="_blank">@simona_cotin</a>
      </div>
    </div>

  </div>

</div>
