
<div class="section sponsors">

  <h1>Sponsors</h1>

  <h2>Event Sponsor</h2>
  <div class="list headline">

    <div>
      <a href="https://www.mobilise.cloud/" target="_blank"><img class="grow" src="logos/Mobilise_Logo.png" title="Mobilise" alt="Mobilise"></a>
    </div>
    <div></div>
    <div></div>
    <div></div>

  </div>

  <div class="separator">&nbsp;</div>

  <h2>Gold Sponsors</h2>
  <div class="list headline">

    <div>
      <a href="https://www.devopsgroup.com/" target="_blank"><img class="grow" src="logos/dog_group_logo.png" title="DevOpsGroup" alt="DevOpsGroup"></a>
    </div>

    <div>
      <a href="https://www.alertlogic.com/" target="_blank"><img class="grow" src="logos/AlertLogic_logo.png" title="Alert Logic" alt="Alert Logic"></a>
    </div>

    <div>
      <a href="https://www.ibm.com/" target="_blank"><img class="grow" src="logos/IBM_logo.png" title="IBM" alt="IBM"></a>
    </div>

    <div>
      <a href="https://www.capgemini.com/gb-en/" target="_blank"><img class="grow" src="logos/Capgemini_logo.png" title="Capgemini" alt="Capgemini"></a>
    </div>

  </div>

  <div class="separator">&nbsp;</div>

  <h2>Silver Sponsors</h2>

  <div class="list community">

    <div>
      <a href="https://www.amplyfigroup.com/" target="_blank"><img class="grow" src="logos/amplyfi_logo.png" title="AMPLYFI" alt="AMPLYFI"></a>
    </div>

    <div>
      <a href="https://www.cloudflare.com/" target="_blank"><img class="grow" src="logos/cloudflare.png" title="Cloudflare" alt="Cloudflare"></a>
    </div>

    <div>
      <a href="https://www.daemonsolutions.com/" target="_blank"><img class="grow" src="logos/daemon_logo.svg" title="Daemon" alt="Daemon"></a>
    </div>

  </div>

  <div class="separator">&nbsp;</div>

  <h2>Bronze Sponsors</h2>
<!--  <div class="list media">-->
    <div class="list community">

    <div>
      <a href="https://notbinary.co.uk/" target="_blank"><img class="grow" src="logos/TPX_NB_Logo.svg" title="Notbinary" alt="Notbinary"></a>
    </div>

    <div>
      <a href="https://www.lumigo.io/" target="_blank"><img class="grow" src="logos/Lumigo_Logo.png" title="Lumigo" alt="Lumigo"></a>
    </div>

  </div>

  <div class="separator">&nbsp;</div>

  <h2>Prize Sponsor</h2>
    <div class="list community">

    <div>
      <a href="https://www.manning.com/" target="_blank"><img class="grow" src="logos/Manninglogo_outline.png" title="Manning" alt="Manning"></a>
    </div>

  </div>
</div>
