<div class="section" style="border: 0;">

  <div class="left">
    <div class="title">
      <h1>Tickets</h1>
    </div>
    <div class="image">
      <img class="pa4" width="130" src="./Mascotte/unicorn_mascot.svg">
    </div>
    <!--<div class="image"><img width="150" height="210" src="./Mascotte/unicorn_mascot.svg" /></div>-->
  </div>

  <div class="text">
    <p>Tickets are available at £25</p>

    <p>We seek to create a diverse and inclusive community for serverless developers. <span class="line-break no-mobile"></span>
      We want to include and encourage people of all races, ethnicities, genders, <span class="line-break no-mobile"></span>
      religions, sexual orientations, abilities, technical experience and ages.
    </p>

    <p>We have committed to provide 25% of all standard tickets to diversity groups <span class="line-break no-mobile"></span>
      to help remove any financial barrier. Apply for a ticket <a href="https://diversitytickets.org/en/events/307" target="_blank">here</a>.
    </p>

    <p>You can also choose to buy a Diversity Sponsor Ticket and we'll donate it to a <span class="line-break no-mobile"></span>
       Diversity Scholar.
    </p>

    <table style="width:100%" border="1">
    <tr>
      <th>Tickets</th>
      <th>Price</th>
    </tr>
    <tr>
      <td>Standard Ticket</td>
      <td><a href="https://ti.to/serverlessdays-cardiff/serverlessdays-cardiff-2019" target="_blank">£25</a></td>
    </tr>
    <tr>
      <td>Diversity Sponsor + Standard Ticket</td>
      <td><a href="https://ti.to/serverlessdays-cardiff/serverlessdays-cardiff-2019" target="_blank">£50</a></td>
    </tr>
    <tr>
      <td>Diversity Ticket</td>
      <td><a href="https://diversitytickets.org/en/events/307" target="_blank">Apply</a></td>
    </tr>
  </table>


  </div>
</div>
