<div class="section" style="border-top: 0;">

  <div class="left">
    <div class="title">
      <h1>Venue</h1>
    </div>
    <div class="image">
      
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2208.851544297225!2d-3.186093501328225!3d51.47492404636082!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x486e1cac7070783b%3A0xb94155369ad919ef!2sTramshed+Cardiff!5e0!3m2!1sen!2suk!4v1540730917210" 
      width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>      
    </div>
  </div>
  <div class="text">
    <p>
      The Conference will be hosted at <a href="http://tramshedcardiff.com/">Tramshed Cardiff</a>,<span class="line-break no-mobile"></span>
      in the  center of the City of Cardiff,<span class="line-break no-mobile"></span>
       less than 10-minutes walking from Cardiff Central.
      
    </p>

    <p>
      The venue is easily accessible using public transportation. <span class="line-break no-mobile"></span>
      If you're coming by train, get off at Cardiff Central,<span class="line-break no-mobile"></span>
      then head left across the River Taff.<span class="line-break no-mobile"></span>
      
    </p>




  </div>
</div>